{% extends 'base.html' %}
  {% block content %}
    <div class = "container-fluid" style = "background-color:white; padding-bottom:20px; padding-top:20px;">
      <div class = "panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Api Name</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body">Panel content</div>
      </div><hr />
      <div class = "panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Request Type</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body">Panel content</div>
      </div><hr />
      <div class = "panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">Status Codes</h3>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body">Panel content</div>
      </div><hr />
      <div class = "panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">Panel content</div>
      </div><hr />
      <div class = "panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Request Data</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>

        <div class="panel-body" id = "no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed">
          		  <thead>
          			    <tr>
              				<th>Parameter</th>
              				<th>Value</th>
                      <th>Description</th>
          			    </tr>
          		  </thead>
                <tbody>
          			<tr>
          				<td>AAC</td>
          				<td>AUSTRALIAN</td>
          				<td>$1.38</td>
          			</tr>
                <tr>
          				<td>AAC</td>
          				<td>AUSTRALIAN</td>
          				<td>$1.38</td>
          			</tr>
                <tr>
          				<td>AAC</td>
          				<td>AUSTRALIAN</td>
          				<td>$1.38</td>
          			</tr>
                <tr>
          				<td>AAC</td>
          				<td>AUSTRALIAN</td>
          				<td>$1.38</td>
          			</tr>
          		</tbody>
            </table>
        </div>
      </div><hr />
      <div class = "panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Response Data</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body" id = "no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed">
          		  <thead>
          			    <tr>
              				<th>Parameter</th>
              				<th>Value</th>
                      <th>Description</th>
          			    </tr>
          		  </thead>
                <tbody>
          			<tr>
          				<td>AAC</td>
          				<td>AUSTRALIAN</td>
          				<td>$1.38</td>
          			</tr>
                <tr>
          				<td>AAC</td>
          				<td>AUSTRALIAN</td>
          				<td>$1.38</td>
          			</tr>
                <tr>
          				<td>AAC</td>
          				<td>AUSTRALIAN</td>
          				<td>$1.38</td>
          			</tr>
                <tr>
          				<td>AAC</td>
          				<td>AUSTRALIAN</td>
          				<td>$1.38</td>
          			</tr>
          		</tbody>
            </table>
        </div>
      </div>
    </div>
  {% endblock %}
